@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family:"Nerko One",cursive;
  background-color: #ADD8E6;
}

h1 {
  color: white;
  font-size: 90px;
  text-align: center;
  text-shadow: 1px 1px black;
  margin-top: 20px;
}
