/* Regole Generali */

@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family:"Nerko One",cursive;
  background-color: #ADD8E6;
}

/* Regole Header */
h1 {
  color: white;
  font-size: 90px;
  text-align: center;
  text-shadow: 1px 1px black;
  margin-top: 20px;
}

/* Regole Main */
.container {
  margin-right: 20%;
  margin-left: 30%;
}

.card {
  position: relative;
  background-color: white;
  width: 170px;
  height: 200px;
  display: inline-block;
  margin-right: 25px;
  margin-top: 25px;
  border-radius: 10px;
  background-image: url("../img/pattern.png");
  background-size: contain;
  box-shadow: 0 0 1px #333;
}


/* IMG HOVER  */

.card:hover {
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.card:hover .text {
  display: block;
}

img {
  width: 80%;
  position: absolute;
  display: none;
  left: 16px;
  top: 10px;
}

.card:hover img {
  display: block;
  background-color: white;
}

.text {
  position: absolute;
  bottom: 10px;
  text-align: center;
  font-size: 25px;
  color: rgb(255, 51, 153);
  text-shadow: 1px 1px black;
  left: 30px;
  display: none;
}

.text:hover {
  color: orange;
}

/* Regole Footer */

#finale {
  font-size: 20px;
  position: absolute;
  bottom: 50px;
  left: 45%;
}
