/* Regole Generali */

@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family:"Nerko One",cursive;
  background-color: #ADD8E6;
}

/* Regole Header */
h1 {
  color: white;
  font-size: 90px;
  text-align: center;
  text-shadow: 1px 1px black;
  margin-top: 20px;
}

/* Regole Main */
.container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.cards {
  position: relative;
  background-color: white;
  width: 170px;
  height: 200px;
  display: inline-block;
  margin-right: 25px;
  margin-top: 25px;
  border-radius: 10px;
  background-image: url("../img/pattern.png");
  background-size: contain;
  box-shadow: 0 0 1px #333;
}

/* IMG HOVER  */

.balloon:hover  {
  background-image: url("../img/noun_air_balloon_3134741.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}


.bicycle:hover {
  background-image: url("../img/noun_Bicycle_3134821.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.cruise-ship:hover {
  background-image: url("../img/noun_Cruise_Ship_3134824.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.submarine:hover {
  background-image: url("../img/noun_Submarine_3134738.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.tractor:hover {
  background-image: url("../img/noun_Tractor_3134797.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.tram:hover {
  background-image: url("../img/noun_Tram_3134750.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.text {
  position: absolute;
  bottom: 10px;
  text-align: center;
  font-size: 25px;
  color: rgb(255, 51, 153);
  text-shadow: 1px 1px black;
  left: 30px;
}

.text:hover {
  color: orange;
}

/* Regole Footer */

#finale {
  font-size: 20px;
  position: absolute;
  bottom: 100px;
  left: 800px;
}
